.slider {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.slider-belt {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}

.slider-right-boundary {
  width: 0.5px;
}
